---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Add filters"
  backLinkText="Back to creating playlist"
  backLinkUrl="/app/3-create/"
>
  <p>Track filters will go here.</p>
</Layout>
