---
import { getGenreData } from "@utils/genres/get-genre-data";
import Layout from "@layouts/Layout.astro";
import ArtistsForGenre from "@components/ArtistsForGenre.astro";
import SimilarGenres from "@components/SimilarGenres.astro";

const genreName = Astro.params.name;

const spotifyAccessToken = Astro.cookies.get("spotify-access-token").value;

const genreData = await getGenreData({ spotifyAccessToken, genreName });

Astro.response.headers.set("Cache-Control", "max-age=0, s-maxage=604800");
---

<Layout
  title={genreName}
  backLinkText="Back to your mix"
  backLinkUrl="/app/1-explore/"
>
  <h2>Artists</h2>
  <ArtistsForGenre artists={genreData.artists} />

  <h2>Similar genres</h2>
  <SimilarGenres genres={genreData.similarGenres} />
  <pre>{JSON.stringify(genreData,null,2)}</pre>
</Layout>
