---
import Layout from "@layouts/Layout.astro";
---

<Layout stepNum={1} title="1. Explore genres">
  <p>Go to your <a href="/app/top-genres/">top genres</a></p>

  <h2>Your mix</h2>

  <p>Chosen genres will go here.</p>
</Layout>
