---
import Layout from "@layouts/Layout.astro";
---

<Layout stepNum={3} title="3. Create playlist">
  <p>Creating the playlist will go here.</p>

  <h2>Add filters</h2>
  <p><a href="/app/track-filters/">Add filters</a></p>
</Layout>
